html, body  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
a:hover {
  text-decoration: underline;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav li {
  padding: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
#search {
  width: 100%;
  max-width: 600px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(212, 212, 212);
}
#search-bar {
  width: 100%;
  border: none;
  height: 40px;
}
#search:hover {
  box-shadow: 0 0 10px rgb(212, 212, 212);
}
.fa-search {
  color: rgb(116, 114, 114);
  padding: 10px 20px;
}
.fa-keyboard {
  color: rgb(71, 70, 70);
  padding: 10px 20px;
}
.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
}
.button:hover {
  border: 1px solid rgb(197, 197, 197);
}
.button:focus  {
  border: 1px solid rgb(85, 130, 251);
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(240, 238, 238);
  margin-top: 30px;
}
@media (max-width: 1000px) {
  footer {
    display: flex;
    justify-content: space-evenly;
  }
}
footer li {
  padding: 10px;
}
footer a  {
  color:gray;
  font-size: 15px;
}
.sides {
  margin: 5px;
}
